

<div class="animated fadeIn">
  <!-- Nav tabs -->
  <tabset>

    <tab>
      <ng-template tabHeading>
        <i class="icon-people"></i> 
        Seleccionar proveedor &nbsp;
        <span 
          *ngIf="!providerIsSelected" 
          class="badge badge-pill badge-warning">!
        </span>
      </ng-template>
      
      <div *ngIf="providers && requisitions" class="animated fadeIn">
        <div class="row">
      
          <app-selectable-table class="col-md-12"
            [rows]="providers"
            [columns]="columnsProvider"
            [selected]="selectedProvider"
            [selectionType]="'single'"
            [messages]="providerTableMessages"
            [enableFiltering]="true"
            (selectedElement)="selectedElementHandler($event)"
          ></app-selectable-table>
          
          </div>
      </div>

    </tab>

    <tab>
      <ng-template tabHeading>
        <i class="icon-list"></i> 
        Datos generales de orden de compra &nbsp;
        <span 
          class="badge badge-pill badge-warning"
          *ngIf="!providerIsSelected">!
        </span>
      </ng-template>
      
      <div  class="animated fadeIn">

        <div *ngIf="selectedProviderRequisitionDetails.length" class="col-sm-12 col-md-12">
            
          <div class="row">
            <div class="col-sm-8 col-md-8">
            
              <div class="card card-accent-primary" *ngIf="selectedProvider[0]">
                <div class="card-header text-center">
                  Proveedor seleccionado
                </div>
                <div class="container">
                  <div class="row">
            
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="" class="col-md-12 col-form-label">ID:</label>
                        <input type='text' readonly class="form-control read-only-normal-style" value="{{ selectedProvider[0].id }}" />
                      </div>
                    </div>
            
                    <div class="col-md-8">
                      <label for="nombre" class="col-md-12 col-form-label">Nombre del proveedor seleccionado:</label>
                      <input type='text' readonly class="form-control read-only-normal-style" value="{{ selectedProvider[0].name }}" />
                    </div>
            
                  </div>
                </div>
              </div>
            
            </div>
    
              <div class="col-sm-4 col-md-4" *ngIf="purchaseOrder.date">
                <div class="card card-accent-primary">
                  <div class="card-header text-center">
                    Fecha de la orden de compra
                  </div>
                  <div class="container">
                    <label for="">Selecciona una fecha:</label>
                    <input type="date" name="date" #dateR class="form-control" [ngModel]="purchaseOrder.date | date:'yyyy-MM-dd'" required>
                    &nbsp;
                  </div>
                </div>
              </div>
          </div>

          <div class="card border-primary">
            <div class="card-header text-center">
              Detalle de orden de compra
            </div>
            <ngx-datatable #conceptRequisitionTable class="material" 
            [rows]="selectedProviderRequisitionDetails" 
            [columnMode]="'force'" 
            [columns]="columnsConceptRequisitions" 
            [headerHeight]="50" 
            [footerHeight]="50"  
            [rowHeight]="'auto'" 
            [limit]="5"
            ></ngx-datatable>
          </div>

          <button 
            type="button" 
            (click)="onSubmit()" 
            class="btn btn-lg btn-primary">
            <i class="fa fa-check"></i> Registrar orden de compra
          </button>

        </div>

        <div *ngIf="!selectedProviderRequisitionDetails.length" class="card card-accent-danger">
          <div class="card-body">
            <div>Selecciona un proveedor en la pestaña anterior para poder continuar :)</div>
          </div>
        </div>

      </div>
        
      
    </tab>
  </tabset>
</div><!--/.col-->
