

<div class="animated fadeIn">
  <!-- Nav tabs -->
  <tabset>

    <tab>
      <ng-template tabHeading>
        <i class="icon-people"></i> 
        Seleccionar proveedor &nbsp;
        <span 
          *ngIf="!selectedProviderRequisitionDetails.length" 
          class="badge badge-pill badge-warning">!
        </span>
      </ng-template>
      
      <div *ngIf="providers && requisitions" class="animated fadeIn">
        <div class="row">
      
          <app-selectable-table class="col-md-12"
            [rows]="providers"
            [columns]="columnsProvider"
            [selected]="selectedProvider"
            [selectionType]="'single'"
            [messages]="providerTableMessages"
            [enableFiltering]="true"
            (selectedElement)="selectedElementHandler($event)"
          ></app-selectable-table>
          
          </div>
      </div>

    </tab>

    <tab>
      <ng-template tabHeading>
        <i class="icon-list"></i> 
        Tabla de productos y servicios a ordenar &nbsp;
        <span 
          class="badge badge-pill badge-warning"
          *ngIf="!selectedProviderRequisitionDetails.length">!
        </span>
      </ng-template>
      
      <div *ngIf="selectedProviderRequisitionDetails.length" class="animated fadeIn">
          <ngx-datatable #conceptRequisitionTable class="material" 
          [rows]="selectedProviderRequisitionDetails" 
          [columnMode]="'force'" 
          [columns]="columnsConceptRequisitions" 
          [headerHeight]="50" 
          [footerHeight]="50"  
          [rowHeight]="'auto'" 
          [limit]="5"
          >
          </ngx-datatable>
      </div>

        <div *ngIf="!selectedProviderRequisitionDetails.length" class="card card-accent-danger">
          <div class="card-body">
            <div>Selecciona un proveedor en la pestaña anterior para poder continuar :)</div>
          </div>
        </div>
      
    </tab>
    <tab>
      <ng-template tabHeading><i class="icon-pie-chart"></i> Charts</ng-template>
      4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </tab>
  </tabset>
</div><!--/.col-->
