<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="card">
        <form #formSubdirection="ngForm" (ngSubmit)="onSubmitSubdirection(formSubdirection.value); formSubdirection.reset()">
              
          <div class="card-header">
            <strong>Subdirección</strong>
            <small> - Formulario</small>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Nombre de la subdirección</label>
                  <input ngModel name="name" id="name" #nameInput #name="ngModel" type="text" class="form-control" placeholder="Ingrese un nombre para la subdirección..." required minlength="2">
                  <ul *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="name.errors.required"> Debes ingresar un <strong>nombre de subdirección</strong> </li>
                      <li *ngIf="name.errors.minlength"> Debes ingresar una descripción como mínimo de <strong> {{ name.errors.minlength.requiredLength }} </strong> caracteres </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="viceprincipal">Subdirectores</label>
                  <select ngModel #viceprincipal="ngModel" #viceprincipalInput name="vice_principalId" id="viceprincipal" type="text" class="form-control" required>
                    <option *ngFor="let viceprincipal of vicePrincipals" [value]="viceprincipal.id">
                      {{ viceprincipal.name }}
                    </option>
                  </select>                  
                  <ul *ngIf="viceprincipal.invalid && (viceprincipal.dirty || viceprincipal.touched)" class="alert alert-danger" style="margin-top: .5em">
                    <li *ngIf="viceprincipal.errors.required"> Debes ingresar un <strong>subdirector</strong> </li>
                  </ul>
                </div>
              </div>
            </div><!--/.row-->

          </div>
          <div class="card-footer text-right">
            <button [disabled]="formSubdirection.invalid" id="saveSubdirections" type="submit" class="btn btn-outline-primary"><i class="fa fa-check"></i> Registrar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>