<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-6 offset-md-3">
      <div class="card">
        <form #formSubdirection="ngForm" (ngSubmit)="onSubmitSubdirection(formSubdirection.value); formSubdirection.reset()">
              
          <div class="card-header">
            <strong>Subdirección</strong>
            <small> - Formulario</small>
          </div>
          <div class="card-body">

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="name">Nombre de la subdirección</label>
                  <input ngModel name="name" #nameInput #name="ngModel" type="text" class="form-control" placeholder="Ingrese un nombre para la subdirección..." required minlength="2">
                  <ul *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="name.errors.required"> Debes ingresar un <strong>nombre de subdirección</strong> </li>
                      <li *ngIf="name.errors.minlength"> Debes ingresar una descripción como mínimo de <strong> {{ name.errors.minlength.requiredLength }} </strong> caracteres </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="boss_ame">Nombre del jefe</label>
                  <input ngModel name="boss_name" #boss_nameInput #boss_name="ngModel" type="text" class="form-control" placeholder="Ingrese el nombre del jefe de la subdirección..." required>
                  <ul *ngIf="boss_name.invalid && (boss_name.dirty || boss_name.touched)" class="alert alert-danger" style="margin-top: .5em">
                      <li *ngIf="boss_name.errors.required"> Debes ingresar nombre de <strong>jefe</strong> </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="card-footer text-right">
            <button [disabled]="formSubdirection.invalid" type="submit" class="btn btn-outline-primary"><i class="fa fa-check"></i> Registrar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>