.paper {
    -webkit-box-shadow: 0px 28px 126px -4px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 28px 126px -4px rgba(0,0,0,0.29);
    box-shadow: 0px 28px 126px -4px rgba(0,0,0,0.29);
    height: 80vh;
    background-color: white;
    padding: 2em;
    margin-bottom: 2em;
}