// Here you can add other styles

/*/ ========= Session footer ========= /*/

.app-footer-fixed {
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
}

.s-content-footer-right {
    float: right;
}/*/ ========= Session footer ========= /*/

.read-only-normal-style {
  background-color:white !important;
}

/* ngx-datatable BEGIN----- */
.scrollable-div {
  height: 100%;
  overflow: auto;
}

.break-word {
  height: auto !important;
  overflow-y: auto !important;
}
.break-word::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
  border-radius: 15px;
}

.break-word::-webkit-scrollbar-thumb
{
  background-color: #F5F5F5;
  border: 1px solid #cccaca;
  border-radius: 15px;
  width: 3px;
}

.pointer {
  cursor: pointer !important;
}

/* ngx-datatable END----- */

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';